<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>SDK Example</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Consent Access</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>digime-ca-6bKMA1Sz8EopMY1a2GwMvFkaqbOmRcN8</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Consent Access</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>digime-ca-IL7aPYWO6DUaU9kgY7ZwHpV1G7AeBHQT</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Consent Access</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>digime-ca-7vEZe7EzcLlMMsiaUh0R5VzfxkfiKmul</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Consent Access</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>digime-ca-k72eyl1CMG1A29lv1qNVlrFedIufXjpV</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Consent Access</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>digime-ca-lFrMvUSnWLRB0WkzKpW45y9USpA3Uygh</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Consent Access</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>digime-ca-8xQSl0XkCfa434LqNC7NwJdvc38qEWGz</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Consent Access</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>digime-ca-8YcZRyfgKeimmlCUC3cBaVJLLmqEodgh</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Consent Access</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>digime-ca-C8YhEFweYVpDTYtmXAJuzNXNNxkTo7xY</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSHealthClinicalHealthRecordsShareUsageDescription</key>
	<string>Allow this app to share health data provided from your clinician.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>Allow this app to share your Health data to doctors and clinicians.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Allow this app to write health data provided from your doctor or clinician.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>We need access to your photo library to save files.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>We need access to your photo library to read files.</string>
    <key>NSAppleMusicUsageDescription</key>
    <string>We need access to your media library to read files.</string>
    <key>UTExportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeIdentifier</key>
            <string>com.example.myapp.customtype</string>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.data</string>
            </array>
            <key>UTTypeDescription</key>
            <string>Custom File Type</string>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <string>custom</string>
                <key>public.mime-type</key>
                <string>application/custom</string>
            </dict>
        </dict>
    </array>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeName</key>
            <string>Custom File Type</string>
            <key>LSHandlerRank</key>
            <string>Owner</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>com.example.myapp.customtype</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
